name: GitHub Stats
on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:
jobs:
  stats:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Update Stats
        uses: lowlighter/metrics@latest
        with:
          user: BaNoF
          token: ${{ secrets.GH_TOKEN }}
          template: classic
          config_timezone: Asia/Yakutsk
          plugin_isocalendar: true
          plugin_isocalendar_duration: full-year
